.slick-slide[data-v-e4caeaf8]{

  height: 100%!important;

}
.slick-dots{
  bottom: 15%!important;
  left: 88.5%!important;
  width: 10%!important;


}

.slick-dots li {
  position: relative!important;

  width: 10%!important;
  height: 20px!important;
  margin: 0 1px!important;
  padding: 0!important;

  cursor: pointer!important;

}
.slick-prev{
  left: 90%!important;
  top: 75%!important;

}

.slick-next{
  left: 96%!important;
  top: 75%!important;

}
.slick-slider[data-v-3d1a4f76]{
  overflow: hidden!important;
}
